program
*.o
.vscode
data_files/
extra_files/
old_files/
info.txt
results/*.poly
results/*.csv
data/realworld
data/synthetic
optimizedFostersAlgorithm/results/*
optimizedFostersAlgorithm/readShapefile-original.cpp
polyclip